<div class="greeting">
  <h1> Welcome to Wine Some More! </h1></br>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="wineoftheday"> </br>
        <p id="wineofthedaytitle"> Wine of the Day </p><hr>
        <img src="http://cdn2.bigcommerce.com/server2800/a04d0/products/8357/images/8822/il-conte-stella-rosa-stella-black__35365.1376047494.1280.1280.jpg?c=2"></img><hr>
        <p id="thewineoftheday">2010 Stella Rosa </p></br>
      </div>
    </div>
  </div>
  <h2> Please click below to see the wine list!</h2>
  <form action='/wines' id='viewWineList'>
    <button action='/wines' class="btn btn-success" >See wine list!</button>
  </form>
</div>
