<div class="greeting">
  <h1> Welcome to Wine Some More! </h1>
  <h2> Please click below to see the WineList or VineyardList!</h2></br>
  <form action='/wines' id='viewWineList'>
    <button action='/wines' class="btn btn-success" >See wine list!</button>
  </form></br>
  <form action='/vineyards' id='viewVineyardList'>
    <button action='/vineyards' class="btn btn-info">See vineyard list!</button>
  </form>
</div>
