body {
  background: url("https://www.vinevera.com/media/wysiwyg/Vine-Vera-Chianti-Theme.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  width: 120px;
}

textarea {
  resize: none;
}

.greeting h1 {
  font-family: 'Kaushan Script', cursive;
  color: darkgreen;
}

.greeting h2 {
  font-size: 14px;
}

.header {
  font-family: 'Lobster', cursive;
  position: relative;
  left: 5%;
}

.greeting {
  text-align: center;
}

.container-fluid {
  background: darkgreen;
}

.navtext {
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.entrycontainer {
  background: linear-gradient(bottom, rgba(255,255,255,.5), rgba(255,255,255,.5));
  background: -webkit-linear-gradient(bottom, rgba(255,255,255,.5), rgba(255,255,255,.5));
  border-radius: 25px;
  margin: 10px;
}

.addbutton {
  position: relative;
  left: 5%;
}

.entry {
  font-size: 16px;
}

.entrydescription {
  font-size: 14px;
}

.h1, h1 {
    font-size: 50px;
}
