<h2>Recommend Wine!</h2>

<!-- POST back to index page -->
<form action="/wines" method="post">

  <label for="wine[name]">Name:</label>
  <input name="wine[name]">

  <label for="wine[year]">Year:</label>
  <input name="wine[year]">

  <label for="wine[vineyard]">Vineyard:</label>
  <input name="wine[vineyard]">

  <label for="wine[rating]">Rating:</label>
  <input name="wine[rating]">

  <label for="wine[description]">Description:</label>
  <input name="wine[description]">

  <input type="submit" value="Create">

</form>
